<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="vue.js"></script>
    <title>BlackJack</title>
</head>
<body>
    <!-- Layout -->

    <header>
        <button class="game-header-btn">BLACKJACK</button>
    </header>

    <div class="container" id="app">
        <div class="wrapper">
            <!-- Dealer Section -->
            <div class="dealer">
                <h1>Dealer: {{ dealerPoints }}</h1>
                <template v-for="card in dealerHand">
                    <img :src="getSource(card)" alt="">
                </template>
            </div>
            
            <!-- Player section -->
            <div class="player">
                <h1>Player: {{ playerPoints }}</h1>
                <template v-for="card in playerHand">
                    <img :src="getSource(card)" alt="">
                </template>
            </div>
        </div>

        <div id="msg-board">
            <h1>{{ msgBoard }}</h1>
        </div>

        <div class="game-btn-container">
            <div v-if="!isGameRunning">
                <button @click="startNewGame" class="game-btn btn btn-success">START NEW GAME</button>
            </div>
            <div v-else>
                <button @click="hit" class="game-btn btn btn-primary" :disabled="isGameEnded">HIT</button>
                <button @click="stand" class="game-btn btn btn-danger" :disabled="isGameEnded">STAND</button>
                <button @click="clearBoardNStartNewGame" class="game-btn btn btn-success">NEW GAME</button>
                <button @click="quit" class="game-btn btn btn-secondary">QUIT</button>
            </div>
        </div>
    </div>

    <script src="jquery-3.5.1.js"></script>
    <script src="bootstrap-4.5.0-dist/js/bootstrap.bundle.min.js"></script>
    <script src="bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
