body{
    width: 100vw;
    background-color: #112818;
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
    color: #dbaeac;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

h1{
    font-size: 2rem;
    padding: 1rem 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    text-align: center;
    background-color: #112818;
    height: 6rem;
}

.game-header-btn{
    color: #d3b2b1;
    border-color: #bb8b8a;
    background-color: #031d0b;
    margin-top: 3rem;
    padding: 0 2rem;
}

<<<<<<< HEAD
=======
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.dealer{
    margin: 0.1rem;
}

h1{
    font-size: 2rem;
    padding: 1rem 0;
}

>>>>>>> parent of c176873... Finished game.
#msg-board{
    font-size: 0.8rem;
    border: 2px solid #627563;
    height: 0.4rem;
    margin: 5rem 0;
    padding: 0 2.4rem;
}

img{
    width: 8rem;
}
 
.game-btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game-btn{
    color: #412828;
    background-color: #9aa79d;
    border-style: solid;
    border-color: #031d0b;
    border-radius: 0.7rem;
    margin-right: 2rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
}