body{
    width: 100vw;
    height: 100vh;;
    background-color: #112818;
    font-family: 'Abril Fatface', cursive;
    font-size: 16px;
    color: #dbaeac;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

h1{
    font-size: 2rem;
    padding: 1rem 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    text-align: center;
    background-color: #112818;
    height: 6rem;
}

.game-header-btn{
    font-size: 2.5rem;
    color: #d3b2b1;
    border-color: #bb8b8a;
    background-color: #031d0b;
    margin-top: 3rem;
    padding: 0 2rem;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dealer{
    margin: 0.1rem;
}

h1{
    font-size: 1.1rem;
    padding: 1rem 0;
}

#msg-board{
    font-size: 0.8rem;
    border: 2px solid #627563;
    height: 0.4rem;
    margin: 2rem 0;
}

img{
    width: 8rem;
}
 
.game-btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.game-btn{
    color: #412828;
    background-color: #9aa79d;
    border-style: solid;
    border-color: #031d0b;
    border-radius: 0.7rem;
    padding: 0.8rem 0.7rem;
    font-size: 0.8rem;
}

@media only screen and (min-width: 795px){
   .game-btn{
        font-size: 1.4rem;
        padding: 0.8rem 1.2rem;  
        margin-left: 0.3rem;
   } 

   h1 {
       font-size: 2rem;
   }

   .game-header-btn{
       font-size: 3rem;
   }
}

@media only screen and (min-width: 950px){
    .wrapper{
        margin-top: 5rem;
    }

    #msg-board{
        margin: 5rem 0;
    }

    .game-btn{
        font-size: 1.9rem;
        margin-left: 0.3rem;
    }

    img {
        width: 7.5rem;
    }

    h1 {
        font-size: 2.8rem;
    }

    .game-header-btn{
        font-size: 4rem;
    }
}

